/* master */
.center {
  text-align: center;
  width: 100%;
}
nav {
  background-color: rgb(89,186,208);
  color: white;
}
@media (max-width: 425px) {
  .brand {
    margin-left: 30% !important;
  }
}
@media (min-width: 768px) {
  .navHeader {
    margin-left: 39% !important;
  }
}
@media (max-width: 320px) {
  .brand {
    margin-left: 30%;
  }

}


body {
  margin-top: 107px;

  background-color: rgb(245,245,245);
}
/* end master */

/* login page */
.form input{
  border-radius: 0;
  margin-bottom: 20px;

}
h2 {
  color: rgb(188,188,188);
  font-weight: bold;
}
.btn{

}
hr {
  border-top: 5px solid #eee;
}
.tombol {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(89,186,208);
  border-color: rgb(89,186,208);
}
.tombol-log {
  margin-left: auto;
  margin-right: auto;
}
/* end login page */

/* beranda */
.update {
  background-color: rgb(224,224,224);
  padding-top: 10px;
  padding-bottom: 10px;
}
.update a {
  width: 100%;
  font-weight: bold;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(96,149,201);
  border-color: rgb(96,149,201);
}
.own {
  text-align: right;
  background-color: rgb(239, 243,228 );
  box-shadow: -2px 4px 20px 0px;
  margin-bottom: 20px;
}
.status-list {
  background-color: white;
  box-shadow: -2px 4px 20px 0px;
  margin-bottom: 20px;
}
.tombol-left{
  padding-right: 0;
  margin-top: 20px;

}
.btn-update {

}
.gambar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.status h3{
  font-weight: bold;
}
.status img{
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
.status {
  margin-top: 30px;
}

/*end beranda */
/* profil */
.foto-profil img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.btn-upload{
  width: 200px;
  background-color: white;
  border-color: white;
  box-shadow: -2px 3px 6px 0px;
}
.input input {
  width: 100%;
  border-radius: 0;
  margin-bottom: 20px;
  box-shadow: -2px 3px 6px 0px;
}
.hiddenForm{
  display: none;
}
.hiddenForm input{
  display: none;
}
.data {
  background-color: rgb(239, 243,228 );
  padding: 10px;
  box-shadow: -2px 3px 6px 0px;
}
.tombol-data{
  width: 100%;
  font-weight: bold;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(96,149,201);
  border-color: rgb(96,149,201);
  margin-top: 120px;
}
